.input-form{
    background-color: white;
    padding: 1em;
    border-radius: .5em;

}


@media only screen and (max-width: 768px) {
    .input-form {
        width: 40vw;
    }
}

@media only screen and (min-width: 769px) {
    .input-form {
        width: 20vw;
        max-width: 400px;
    }
  }