

.form-container{
    display: flex;

    height: 100vh;
    
}

.form-container h1{
    width: 100%;
}

.login-form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5vw;

    background-color: white;
    border-radius: 1.5em;

}

.login-form p{
    width: 100%;
    margin: 0;
    color: var(--grey);
}


@media only screen and (max-width: 768px) {
    .form-container{
        margin-top: 5vh;
        width: 100%;
        border-left-width: 0;
        border-right: none;

        flex-direction: column-reverse;
        align-items: center;
    }

    .login-form{
       padding-bottom: 30vh;
       width:auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
  }
  
  @media only screen and (min-width: 769px) {
    .form-container{
        width: 50%;
        justify-content: center;
        align-items: center;
        
    }
    .login-form{
        border: 1px solid var(--grey);
    }
  }